.container{
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.information{
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.item{
    width: 55%;
    position: relative;
}

.item:nth-child(1){
    width: 40%;
    position: relative;
    background-image: url("../../images/hexa.png");
    background-repeat: no-repeat;
}

.image{
    position: relative;
    height: 430px;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
}

.headline{
    font-family: var(--monserrat);
    color: var(--green);
    font-weight: 600;
    font-size: 18px;
    border-left: 3px solid var(--green);
    margin-bottom: 20px;
    border-radius: 3px;
}

.headline::before{
    content: "ll";
    visibility: hidden;
}

.title{
    font-size: 50px;
    font-family: var(--monserrat);
    font-weight: 800;
    line-height: 1.1;
    color: var(--black);
}

.description{
    font-size: 17px;
    margin: 20px 0;
    margin-bottom: 30px;
    line-height: 1.8;
    font-family: var(--monserrat);
    color: var(--gray);
    font-weight: 500;
}

.btns{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 10px;
    position: relative;
    z-index: 3;
}

.btn{
    height: 50px;
    width: fit-content;
    padding: 0 20px;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--monserrat);
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.getStarted{
    margin-right: 30px;
    border-color: var(--green);
    background-color: var(--green);
    color: var(--white);
}

.btnContact{
    border-color: var(--gray);
    color: var(--gray);
}

.btnContact:hover{
    border-color: var(--black);
    color: var(--black);
}

.getStarted:hover{
    background: none;
    color: var(--green)
}

.btnAbout:hover{
    border-color: var(--skyBlue);
    color: var(--white);
    background-color: var(--skyBlue);
}