.container{
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.backgroundLeft{
    display: none;
}

.triangle {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 60px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background: var(--pink);
}

.curvedarrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid var(--yellow);
    transform: rotate(10deg);
}

.curvedarrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid var(--yellow);
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
}

.heart {
    background-color: var(--lightBlue);
    display: inline-block;
    height: 30px;
    margin: 200px 180px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
    animation: pulse 2s infinite;
}

.heart:before,
.heart:after {
    content: "";
    background-color: var(--lightBlue);
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}

@keyframes pulse {
    0% {
        transform: scale(.6) rotate(-45deg);;
    }
    80% {
        transform: scale(.9) rotate(-45deg);;
    }
    100% {
        transform: scale(1) rotate(-45deg);;
    }
}

.curvedarrow{
    margin: 120px;
}

.information{
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.item{
    width: 55%;
    position: relative;
}

.item:nth-child(1){
    width: 40%;
    position: relative;
    background-image: url("../../images/hexa.png");
    background-repeat: no-repeat;
}

.item:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: relative;
    height: 430px;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
}

.headline{
    font-family: var(--monserrat);
    color: var(--green);
    font-weight: 600;
    font-size: 18px;
    border-left: 3px solid var(--green);
    margin-bottom: 20px;
    border-radius: 3px;
}

.headline::before{
    content: "ll";
    visibility: hidden;
}

.title{
    font-size: 50px;
    font-family: var(--monserrat);
    font-weight: 800;
    line-height: 1.1;
    color: var(--black);
}

.description{
    font-size: 17px;
    margin: 20px 0;
    margin-bottom: 30px;
    line-height: 1.8;
    font-family: var(--monserrat);
    color: var(--gray);
    font-weight: 500;
}

.btns{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 10px;
    position: relative;
    z-index: 3;
}

.btn{
    height: 45px;
    width: fit-content;
    padding: 0 20px;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--monserrat);
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}

.getStarted{
    margin-right: 30px;
    border-color: var(--green);
    background-color: var(--green);
    color: var(--white);
}

.btnContact{
    border-color: var(--gray);
    color: var(--gray);
}

.btnContact:hover{
    border-color: var(--black);
    color: var(--black);
}

.getStarted:hover{
    background: none;
    color: var(--green)
}

.btnAbout:hover{
    border-color: var(--skyBlue);
    color: var(--white);
    background-color: var(--skyBlue);
}

@media only screen and (max-width: 1280px) {    
    .item:nth-child(1){
        width: 45%;
    }
}

@media only screen and (max-width: 1080px) {
    .information{
        width: 90%;
    }
}

@media only screen and (max-width: 960px) {
    .title{
        font-size: 45px;
    }

    .headline{
        font-size: 17px;
    }
}


@media only screen and (max-width: 850px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .information{
        flex-direction: column-reverse;
        margin: 0;
        height: fit-content;
        padding: 30px 0;
    }

    .backgroundLeft{
        display: block;
        position: absolute;
        background-color: var(--blackBackground);
        width: 100%;
        margin: 0;
        top: 0;
        height: 35%;
    }

    .item{
        width: 100%;
    }

    .description{
        font-size: 16px;
        width: 80%;
    }

    .image{ 
        width: 450px;
        height: 370px;
        margin: 0 auto;
    }

    .heart{
        position: absolute;
        margin: 0;
        left: 90%;
        top: 50%;
    }

    .curvedarrow{
        margin: 0;
        left: 20%;
        top: 60%;
    }

    .curvedarrow:after {
        content: "";
        position: absolute;
        border: 0 solid transparent;
        border-top: 3px solid var(--yellow);
        border-radius: 20px 0 0 0;
        top: -17px;
        left: -28px;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
    }

    .item:nth-child(1){
        padding-top: 30px;
        width: 100%;
    }
}


@media only screen and (max-width: 640px) {

    .item:nth-child(1){
        padding-top: 0;
    }
    
    .image{ 
        width: 400px;
        height: 330px;
        margin: 0 auto;
    }

    .triangle{
        top: -30px;
        left: 0;
    }

    .curvedarrow{
        left: 40px;
    }

    .title{
        font-size: 40px;
    }

    .description{
        width: 100%;
        font-size: 16px;
    }

    .lightBox{
        margin-top: -100px;
        margin-left: 240px;
    }

    .backgroundLeft{
        height: 250px;
    }

    .btn{
        font-size: 15px;
    }

}

@media only screen and (max-width: 450px){
    .image{ 
        width: 320px;
        height: 330px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 360px){

    .item:nth-child(2){
        display: flex;
        justify-content: center;
    }

    .image{ 
        width: 300px;
        min-width: 300px;
        height: 330px;
        margin: 0 auto;
    }

    .heart{
        left: 70%;
        top: 20%;
    }
}


@media only screen and (max-width: 340px){
    .title{
        font-size: 30px;
    }

    .item:nth-child(1){
    }

    .blackBox{
        margin-left: 80px;
    }

    .lightBox{
        margin-left: 220px;
    }
}