.container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    font-family: var(--monserrat);
}

.reverse{
    flex-direction: row-reverse;
}

.item{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    overflow: hidden;
}

.item:nth-child(2){
    background: radial-gradient( rgb(255, 230, 234), rgba(255,255,255,1) );
    padding: 0 30px;
}

.image{
    position: relative;
    width: calc(100% + 300px);
    height: calc(100% + 300px);
}

.title{
    line-height: 1.4;
    font-size: 30px;
    font-weight: 600;
    color: var(--red);
}

.description{
    font-size: 17px;
    line-height: 1.9;
    width: 100%;
    font-family: var(--monserrat);
    color: var(--black);
    margin-top: 30px;
    font-weight: 500;
}

.reasons{
    margin: 30px 0;
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

.itemReason{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar{
    display: inline-block;
    height: 3px;
    width: 25px;
    background: var(--red);
    margin-right: 15px;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
}

@media only screen and (max-width: 1080px) {
    .title{
        font-size: 25px;
        line-height: 1.6;
    }

    .description{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .image{
        width: 100%;
    }

    .vector .item > .image{
        width: 100% + 250px;
    }

    .reverse > .item > .image{
        width: calc(100% + 350px);
    }
}

@media only screen and (max-width: 660px) {
    .container{
        flex-direction: column-reverse;
    }

    .item{
        width: 100%;
        height: fit-content;
    }

    .title{
        font-size: 25px;
        line-height: 1.6;
    }

    .description{
        font-size: 16px;
    }

    .image{
        height: 400px;
        width: 100%;
        margin-bottom: 30px;
    }

    .reverse > .item > .image{
        width: calc(100% + 250px);
        height: 300px;
    }
}

@media only screen and (max-width: 460px) {
    .title{
        font-size: 22px;
    }

    .image{
        height: 350px;
    }
}

@media only screen and (max-width: 340px) {
    .title{
        font-size: 22px;
    }

    .description{
        font-size: 15px;
    }

    .reasons{
        font-size: 15px;
    }

    .image{
        height: 250px;
    }
}