.container{
    max-width: var(--maxWidth);
    width: 80%;
    margin: 30px auto;
    position: relative;
    margin-bottom: 60px;
}

.title{
    font-family: var(--prompt);
    font-size: 30px;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.description{
    font-size: 17px;
    line-height: 1.9;
    width: 60%;
    font-family: var(--monserrat);
    color: var(--gray);
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    padding: 0;
    font-weight: 500;
}


@media only screen and (max-width: 1180px){
    .container{
        flex-wrap: wrap;
        padding: 0;
    }
}

@media only screen and (max-width: 1080px) {
    .container{
        width: 90% ;
    }
}

@media only screen and (max-width: 940px){
    .description{
        width: 90%;
    }
}

@media only screen and (max-width: 740px){
    .title{
        border: 0;
        line-height: 1.4;
    }

    .title::before{
        content: "";
    }

    .description{
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 25px;
    }

    .description{
        width: 100%;
    }
}

@media only screen and (max-width: 400px){

    .title{
        font-size: 22px;
    }

    .description{
        font-size: 15px;
    }
}